@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
    background-color: #f8fafc; 
}

.no-scrollbar::-webkit-scrollbar { 
    display: none; 
}

.tab-btn.active { 
    border-bottom-color: #4f46e5; 
    color: #4f46e5; 
}

/* Custom range slider styling */
input[type=range] {
    cursor: pointer;
}